<div class="login">  
    <form [formGroup]="formLogin" (ngSubmit)="login(formLogin.value)">    
        <input class="input" [ngClass]="{'input-error': formLogin.controls['username'].hasError('email') == true}" placeholder="Username" formControlName="username" autocomplete="off" required>
        <span class="input-message-error" *ngIf="formLogin.controls['username'].hasError('email')">Please enter a valid email</span>
        <input class="input" [ngClass]="{'input-error': formLogin.controls['password'].hasError('minlength') == true}" placeholder="Password" formControlName="password" autocomplete="off" type="password" required>
        <span class="input-message-error" *ngIf="formLogin.controls['password'].hasError('minlength')">Please enter at least 8 characters</span>
        <button type="submit" *ngIf="!isLoading" [disabled]="!formLogin.valid" class="btn" color="primary">Login</button>
        <img src="assets/imgs/loading.gif" class="loading" [hidden]="!isLoading" style="float: right;">
    </form>  
</div>

