.footer {
    box-sizing: border-box;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    padding: 40px 10px 30px 10px;
    display: flex;

    &__copyright {
        font-size: 12px;
        margin: auto;
    }
}