.loading { 
    margin: 0 auto;
}

.pocs {

    &__address {
        width: 100%;
        border: 1px solid #c2c2c2;
        border-radius: 3px;
        padding: 20px;
        clear: both;
        text-align: center;
        display: flex;

        @media screen and (max-width: 500px) {
            width: 100%;
            float: none;
        }
    }

    &__search {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &__options {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 500px){
                flex-direction: column;
            }

            &__poc {
                margin-top: 20px;
                flex: 1;
                
                &:first-child {
                    padding-right: 5px;
                }
                &:last-child {
                    padding-left: 5px;
                }
        
                @media screen and (max-width: 500px) {
                    padding: 0;

                    &:first-child {
                        padding-right: 0;
                    }
                    &:last-child {
                        padding-left: 0;
                    }
                }
            }
        }

        &__btn {
            padding-top: 15px;
            width: 100%;
            position: relative;
            overflow: hidden;
        }
    }
}

.list {
    display: flex;
    position: relative;
    overflow: hidden;
    clear: both;
    padding-top: 40px;
    flex-direction: column;

    &__category {
        flex: 1;
    }

    &__products {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: 450px) {
            flex-direction: column;
        }

        &__product {
            margin-top: 10px;
            flex-basis: 23%;
            height: 300px;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            @media screen and (max-width: 880px) {
                flex-basis: 32%;
            }

            @media screen and (max-width: 680px) {
                flex-basis: 48%;
            }

            &__title {
                display: flex;
                flex: 1;
                background: #3CC4AB;
                border: 1px solid #3CC4AB;
                color: #FFF;
                width: 100%;;
                margin: auto;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;

                &__text {
                    margin: auto;
                    text-align: center;
                }
            }

            &__description {
                flex: 4;
                border: 1px solid #3CC4AB;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                position: relative;

                &__img {
                    max-height: 100%;
                    max-width: 100%;
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
        }
        
        &__no-data {
            text-align: center;
        }
    }
}

